# Ignorar a pasta do ambiente virtual
venv/
.venv/

# Ignorar arquivos de cache e compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar arquivos de configuração de IDEs
.vscode/
.idea/

# Ignorar arquivos de variáveis de ambiente (contém senhas e chaves!)
.env
*.env

# Ignorar arquivos de log
*.log

# Ignorar arquivos gerados pelo LaTeX
*.aux
*.bbl
*.blg
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc